<!DOCTYPE html>
<html>
<title>Score</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<body>

<div class="w3-container">
  <h2>Score</h2>
  <p>The w3-table class creates a basic table.</p>

  <table class="w3-table">
    <tr>
      <td><div class="w3-panel w3-card "><p>w3-card</p></div></td>
      <td><div class="w3-panel w3-card "><p>w3-card</p></div></td>
   </tr>
    <tr>  
      <td><div class="w3-panel w3-card "><p>w3-card</p></div></td>
      <td><div class="w3-panel w3-card "><p>w3-card</p></div></td>
  </tr>
    </table>
</div>

</body>
</html>
